*, html, body{
    padding: none;
    margin: 0;
}

#main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 35px;
}

#main p{
    text-align: center;
    user-select: none;
    padding: 50px;
    border: 1px black solid;
}

#main p:hover{
    background-color: rgb(255, 246, 163);
}

#main p:active {
    background-color: rgb(166, 255, 0);
}

.header {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0 auto;
    background-color: red;
    padding: none;
}

.makeChoice {
    padding: 10px;
    text-align: center;
}

button {
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
   transition: all .25s;
}

button:hover {
    background-color:rgb(255, 194, 124);
}